{% extends 'parser/base.html' %}

{% block content %}
<body>
<header>
    <div class="logo"></div>
    <nav>
        <form method="get" id="search_form">
            {% csrf_token %}
            <input type="text" name="search_by" maxlength="100" required id="id_search_by">
            <input type="text" name="category" value="{{request.GET.category}}" style="display: none;">
        </form>
        <a href="{% url 'main' %}">Все</a>
        <a href="{% url 'main' %}?category=theater">Театр</a>
        <a href="{% url 'main' %}?category=cinema">Кино</a>
    </nav>

</header>
<main>
    <section class="events">
        {% for event in events %}
        <a href="{% url 'event_detail' event.pk %}">
        <div class="event">
            <div class="event_image">
                <img src="{{ event.image }}">
            </div>
            <div class="event_description">
                {{ event.title }}<br>
                {{ event.date }}<br>
                {{ event.location }}
            </div>
        </div>
        </a>
        {% endfor %}
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search_form').change(function () {
            $.ajax({
                data: $(this).serialize(),
                url: "{% url 'search_events' %}",
                success: function (events) {
                    $('.events').empty()
                    for(i in events) {
                        let event = 
                        `
                        <a href="127.0.0.1:8000/event/${events[i].id}">
                        <div class="event">
                            <div class="event_image">
                                <img src="${ events[i].image }">
                            </div>
                            <div class="event_description">
                                ${ events[i].title }<br>
                                ${ events[i].date }<br>
                                ${ events[i].location }
                            </div>
                        </div>
                        </a>
                        `
                        $('.events').append(event)
                    }
                },
                error: function (requisites) {
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
</script>

</body>
{% endblock %}