{% extends 'parser/base.html' %}

{% block content %}
<body>
<main>
    <section class="events">
        {% for event in events %}
        <a href="{% url 'event_detail' event.pk %}">
        <div class="event">
            <div class="event_image">
                <img src="{{ event.image }}">
            </div>
            <div class="event_description">
                {{ event.title }}
            </div>
        </div>
        </a>
        {% endfor %}
    </section>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search_form').change(function () {
            $.ajax({
                data: $(this).serialize(),
                url: "{% url 'search_events' %}",
                success: function (events) {
                    $('.events').empty()
                    for(i in events) {
                        let event = 
                        `
                        <a href="event/${events[i].id}">
                        <div class="event">
                            <div class="event_image">
                                <img src="${ events[i].image }">
                            </div>
                            <div class="event_description">
                                ${ events[i].title }<br>
                            </div>
                        </div>
                        </a>
                        `
                        $('.events').append(event)
                    }
                },
                error: function (requisites) {
                    console.log(response.responseJSON.errors)
                }
            });
            return false;
        });
    })
</script>

</body>
{% endblock %}