{% extends 'parser/base.html' %}

{% block content %}
<body>
<header>

</header>
<main>
    <section class="events">
        {% for event in events %}
        <a href="{% url 'event_detail' event.pk %}">
        <div class="event">
            <div class="event_image">
                <img src="{{ event.image }}">
            </div>
            <div class="event_description">
                {{ event.title }}<br>
                {{ event.date }}<br>
                {{ event.location }}
            </div>
        </div>
        </a>
        {% endfor %}
    </section>
</main>

</body>
{% endblock %}